version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: smarttask-backend
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - mongo
      - redis

  mongo:
    image: mongo:6
    container_name: smarttask-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    container_name: smarttask-redis
    ports:
      - "6379:6379"

volumes:
  mongo_data:
